<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
      name="viewport"
    />
    <meta name="viewport" content="width=device-width" />

    <!-- Favicon and title -->
    <link rel="icon" href="path/to/fav.png" />
    <title>{Place Compagni di Merende}</title>

    <!-- Halfmoon CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
  </head>
  <body
    class="with-custom-css-scrollbars"
    data-dm-shortcut-enabled="true"
    data-set-preferred-mode-onload="true"
  >
    <!-- Page wrapper start -->
    <div class="page-wrapper">
     <div class="position-absolute top-0 right-0 z-10 p-10">
    <button class="btn btn-square" type="button" onclick="halfmoon.toggleDarkMode()">
      <i class="fas fa-moon"></i>
      <span class="sr-only">Toggle dark mode</span>
    </button>
  </div>
      <!-- Content wrapper start -->
      <div class="content-wrapper">
        <!-- TODO PLACE CONTENT HERE -->
        <div class="container-fluid">
          <div class="content">
            <h1 class="content-title font-weight-bold font-size-24 text-monospace text-extra-letter-spacing">{Place Compagni di Merende}</h1>
          </div>  
          <div class="content">
            <div class="row">
              <div class="col-sm">
                <div class="card">
                  <p class="font-weight-light font-size-24">Un semplice e veloce servizio, per servire bellissime foto di questo iconico trio di buoni amici, con lo scopo di usarle come placeholder. </p></div>
                </div>
              <div class="col-sm"><img src="{{url}}/place/pacciani" class="img-fluid rounded"/></div>
            </div>
            <div class="row">
              <div class="col-sm">
                <div class="card">
                  <h4>Come si usa:</h4>
                  <div class='simple-use'>
                  L'url é:</br>
                    <code class="url">
                        {{url}}place
                    </code>
                    </br>
                    </br>
                    Puoi aggiungere i parametri opzionali <code>width</width> and <code>height</code> </br>per scegliere la dimensione dell'immagine</br></br>
                    <code class="url">
                        {{url}}place?width=500&height=500
                    </code>
                  </div>
                 </br>
                  <div class='mates'>
                    É possibile specificare il compagno di merende preferito aggiungendo il nome all'url</br></br>
                    <code class="url">
                        {{url}}place/pacciani
                    </code></br>
                    <code class="url">
                        {{url}}place/vanni
                    </code></br>
                    <code class="url">
                        {{url}}place/lotti
                    </code></br>
                  </div>
                </br>
                <div class='example'>
                  <h5>Esempio <span><</span>img<span>><span> Tag</h5>
                  <code>
                    <span><</span>img
                    <span>src='{{url}}place'</span>
                    <span>><span>
                  </code>
                </div>
                </div>
              </div>
                
              <div class="col-sm"><img src="{{url}}/place/vanni?width=754&height=432" class="img-fluid rounded"/></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Content wrapper end -->
    </div>
    <!-- Page wrapper end -->

    <!-- Halfmoon JS -->
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <script src="https://kit.fontawesome.com/924e344775.js" crossorigin="anonymous"></script>
    
  </body>
</html>
